.react-datalist-input__container {
  font-family: "Formula1-Regular", sans-serif;
  height: 35px;
}

.react-datalist-input__textbox {
  font-family: "Formula1-Regular", sans-serif;
  height: 35px;
  font-size: 1rem;
}

.react-datalist-input__label {
  font-family: "Formula1-Regular", sans-serif;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem;
  font-weight: bold;
}
